@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1 class="text-center">Rewards For You</h1>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="card" id="Employee">
            <div class="card-body text-center">
                <h5 class="card-title">Insert New User</h5>
                <p class="card-text">Inserisci un nuovo utente</p>
                <a href="@Url.Action("InsertNewUsers","Amministrator")" class="btn btn-primary">Go</a>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="card" id="Manager">
            <div class="card-body text-center">
                <h5 class="card-title">Add Rewards</h5>
                <p class="card-text">Aggiungi un nuovo reward</p>
                <a href="@Url.Action("AddRewards","Amministrator")" class="btn btn-primary">Go</a>
                <h5 class="card-title">Search and Delete Rewards</h5>
                <p class="card-text">Cerca e elimina un reward</p>
                <a href="@Url.Action("SearchDeleteRewards","Amministrator")" class="btn btn-primary">Go</a>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="card" id="Amministrator">
            <div class="card-body text-center">
                <h5 class="card-title">Search and Delete</h5>
                <p class="card-text">Entra nella tua pagina personale</p>
                <a href="@Url.Action("SearchDeleteUser","Amministrator")" class="btn btn-primary">Go</a>
            </div>
        </div>
    </div>

</div>
