@model RewardsForYou.Models.Users
@{
    ViewBag.Title = "Index";
}

<h2>Employee personal page</h2>


<div class="container-fluid">
    <div class="container-fluid" id="DetailsUser" style="margin-top:5px;overflow-x:auto;width:100%;">
        @{Html.RenderPartial("_Details", Model);}
    </div>
</div>
