@model RewardsForYou.Models.NoticeRewardsTakes


<h3>Are you sure to refuse the mission?</h3>
@using (Html.BeginForm("DoRefuseRewards", "Manager", null, FormMethod.Post))
{

    @Html.HiddenFor(model => model.UserRewardsID)
    @Html.HiddenFor(model => model.UserID)


    <div class="form-actions no-color">
        <input type="submit" value="Refuse" class="btn btn-default" />
    </div>





}
